<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs',{user: user, categorias:categorias, numProducts:numberProducts}) %> 
    <div class="container">
        <h2>Carro de Compras</h2>
        <h5># de articulos</h5>
        <section>
            <% if(productos.length > 0){ %>
                <% for(let i = 0; i < productos.length ; i++){ %>
                    <article>
                        <a href="/producto/detalle/<%= productos[i].id %> "><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                        <a href="/producto/detalle/<%= productos[i].id %>"><h4><%=productos[i].name%></h4></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                        <p>$<%= productos[i].price %></p>
                        <p>Talle <%= productos[i].talle %></p>
                        <form action="" method="POST">
                            <input type="hidden" name="idProducto" value="<%= productos[i].id%>"> 
                            <button>Eliminar</button>
                        </form>
                    </article>
                <% } %>  
                
                <h3>TOTAL $<%=totalPrice%> </h3>
            <% }else { %>
                <h2 class="text-center">No hay productos en el carrito!!!</h2>
            <% } %>   
            
        </section>
        <p>*IVA incluido</p>
        <div class="div-navegacion-form">
            <form action="" class="navegacion">
                <button type="button">Volver</button>
                <button type="button">Continuar</button>
        </form>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>