<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs',{user: user, categorias:categorias, numProducts:numberProducts}) %> 
    <div class="container">
        <h2>Carro de Compras</h2>
        <h5># de articulos</h5>
        <section>
            <% if(productos.length > 0){ %>
                <% for(let i = 0; i < productos.length ; i++){ %>
                    <article>
                        <a href="/producto/detalle/<%= productos[i].id %> "><img src="/images/producto/wilson-modelo.jpg" alt="producto1"></a>
                        <a href="/producto/detalle/<%= productos[i].id %>"><h4><%=productos[i].name%></h4></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quo.</p>
                        <p>$<%= productos[i].price %></p>
                        <p>Talle <%= productos[i].talle %></p>
                        <form action="/producto/carrito/<%= productos[i].id %>" method="POST">
                            <input type="hidden" name="idProducto" value="<%= productos[i].id%>"> 
                            <button>Eliminar</button>
                        </form>
                    </article>
                <% } %>  
                
                <h3>TOTAL $<%=totalPrice%> </h3>
                <p>*IVA incluido</p>
            <% }else { %>
                <h2 class="text-center">No hay productos en el carrito!!!</h2>
            <% } %>   
        </section>
        <div class="div-navegacion-form">
            <form action="/producto/carrito/finalizar/compra" class="navegacion" id="formCarrito" method="POST">
                <input type="hidden" name="calle" id="calle" value="">
                <input type="hidden" name="altura" id="altura" value="">
                <input type="hidden" name="codigoPostal" id="postal" value="">
                <input type="hidden" name="localidad" id="localidad" value="">
                <input type="hidden" name="tipoEnvio" id="envio" value="">
                <!-- <input type="hidden" name="productosCompras" id="productosComprados" value="<%= productos %> "> -->
                <button type="button">Volver</button>
                <button type="submit">Continuar</button>
        </form>
    </div>
    <%- include('partials/footer.ejs') %> 
    <script src="/javascripts/finalizarCompra.js"></script>
</body>
</html>