<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs') %> 
    <div class="container">
        <div class="registro">
            <h2>Inicio Sesión</h2>
            <form action="/register" method="POST" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Username" >
                <input type="email" name="email" placeholder="Email" >
                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email) ? errors.email.msg : '' %></small>
                <input type="password" name="password" placeholder="Contraseña">
                <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : '' %></small>
                <input type="password" name="passwordverificado" placeholder="Repetir Contraseña" >
                <input type="text" name="nombre" placeholder="Nombre" >
                <input type="text" name="apellido" placeholder="Apellido" >
                <input type="text" name="direccion" placeholder="Dirección" >
                <input type="tel" name="telefono" placeholder="Teléfono" >   
                <input type="file" name="avatar" />    
                <h3>Personaliza Tu Experiencia</h3>
            <!-- <form action="" method="POST" class="form-checkbox-register"> -->
                <input type="number" name="altura" placeholder="Altura" min="0,1" max="3" step="0.01">
                <input type="number" name="peso" placeholder="Peso" min="0" step="0.01">
                <!-- <input type="checkbox" name="promociones" value="okpromociones">Quiero recibir comunicaciones comerciales personalizadas de BRAYDS a través del email<br></input> -->
                <!-- <input type="checkbox" name="terminos" value="okterminos">Acepto terminos y condiciones de privacidad<br></input> -->
                <div class="container-checkbox">
                    <div class="checkbock-news">
                        <div class="row-checkbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <div class="label-checkbox">
                            <label for="">Quiero recibir comunicaciones comerciales personalizadas de BRAYDS a través del email</label>
                        </div>
                    </div>
                    <div class="checkbock-news">
                        <div class="row-checkbox">
                            <input type="checkbox" name="" id="">
                        </div>
                        <div class="label-checkbox">
                            <label for="">Acepto terminos y condiciones de privacidad</label>
                        </div>
                    </div>
                    <button type="submit">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>