<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 

<body>
    <%- include('partials/headerNavbar.ejs',{user: user}) %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-3 mt-3" >
                <h2 id="new-arrivals">Search Results</h2>
            </div>
        </div>
        <div class="row ml-3 mr-sm-3">
            <% for( let i = 0; i < products.length; i++ ) { %>
                <div class="col-12 col-md-6 col-lg-3 shadow p-3 mb-5 bg-white rounded">
                    <div class="card">
                        <a href="/producto/detalle/<%= products[i].idproducto %>">
                            <%- include('./partials/carrouselTop.ejs') %> 
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/images/producto/<%= products[i].imagenes[0].dataValues.imagen %>" alt="zero slide">
                                </div>
                                <% let imagenes =  products[i].imagenes %> 
                                <% for( let j = 1; j < imagenes.length; j++ ) { %>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/images/producto/<%= products[i].imagenes[j].dataValues.imagen %>" alt="<%= i %>  slide">
                                    </div>
                                <% } %>
                            </div>
                            <%- include('./partials/carrouselBottom.ejs') %> 
                        </a>
                        <div class="card-body">
                            <a href="/producto/detalle/<%= products[i].idproducto %>"><h3 class="card-title"><%= products[i].nombre %></h3></a>
                            <h4 class="card-subtitle"><%= products[i].precio %></h4>
                            <div class="w-100 text-right">
                                <a href="#" class="card-link">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %> 
    <!-- <script src="/javascripts/searchBar.js"></script> -->
</body>
</html>