<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %> 

<body>
    
    <%- include('partials/headerNavAdmins.ejs') %> 

    <div class="producto-add">
        <div class="cont-img-prod">
            <img src="/images/producto/default_avatar.png" alt="" class="img-prod" id="prodImg">
        </div>
        <div class="det-prod">
            <div class="box-name">
                <!-- <h1>Nombre del Producto</h1> -->
                <label for="name-prod" class="label-name-prod">Nombre del Producto</label>
                <!-- <input type="text" name="nombre-producto" placeholder="Nombre del Producto" class="input-name-prod"> -->
                <select type="text" name="nombre-producto" placeholder="Nombre del Producto" id="productSelected" class="input-name-prod">
                    <option value="" selected disabled>Choose Product</option>
                    <% for( let i = 0; i < productos.length; i++ ) { %>
                        <option value="<%= productos[i].dataValues.idproducto %>"> <%= productos[i].dataValues.nombre %></option>
                    <% } %>
                </select>
                <div class="box-price"> 
                    <label for="price" class="label-name-prod">Nombre del Producto</label>
                    <input type="text" name="nombreProducto" id="nameProduct" class="input-name-prod"> 
                </div>
                <div class="box-price"> 
                    <label for="price" class="label-name-prod">Precio del Producto</label>
                    <input type="text" name="precioProducto" id="price" class="input-name-prod"> 
                </div>
                <textarea name="descriptionProd" class="texto-desc-prod" id="prod-desc" cols="15" rows="12" placeholder="Descripcion:"></textarea>
                <div class="talle">
                    <h4>Talle Disponibles:</h4>
                    <!-- <ul class="talles-carga-prod"> -->
                        <% let prenda = "" %> 
                        <select name="talles" class="talles-carga-prod" id="talles" multiple>
                            <% for( let i = 0; i < talles.length; i++ ) { %>
                                <% if (i === 0) { %>
                                    <% prenda = talles[i].dataValues.prenda %> 
                                    <option value="<%= talles[i].dataValues.prenda %>" disabled><%= talles[i].dataValues.prenda %></option>
                                    <option value="<%= talles[i].dataValues.idtalle %>"><%= talles[i].dataValues.talle %> </option>
                                <% } else if (prenda != talles[i].dataValues.prenda) { %>
                                    <% prenda = talles[i].dataValues.prenda %>
                                    <option value="<%= talles[i].dataValues.idtalle %>" disabled><%= talles[i].dataValues.prenda %></option>
                                    <option value="<%= talles[i].dataValues.idtalle %>"><%= talles[i].dataValues.talle %> </option>
                                <% } else { %>
                                    <option value="<%= talles[i].dataValues.idtalle %>"><%= talles[i].dataValues.talle %> </option>
                                <% } %>
                            <% } %>
                        </select>
                </div>
                <div class="talle">
                    <h4>Categorias Disponibles:</h4>
                        <select name="categoria" id="categoria">
                            <option value="-1" disabled selected>Categoria</option>
                            <% for( let i = 0; i < categorias.length; i++ ) { %>
                                <option value="<%= categorias[i].dataValues.idcategorias %>"><%= categorias[i].dataValues.nombre_categoria %></option>
                            <% } %>
                        </select>
                </div>
            </div>
            <div class="button-admin">
                <!-- <form action="" method="POST" class="form-carga-producto">
                    <button type="submit" class="boton-carga-producto">Añadir Producto</button>
                </form> -->
                <form action="/admin/edit/selectProduct/:idProduct?_method=put" method="post" class="form-select-producto" id="editProdForm" enctype="multipart/form-data">
                    <input type="hidden" name="name" value="" id="valueName">
                    <input type="hidden" name="price" value="" id="valuePrice">
                    <input type="hidden" name="desc" value="" id="valueDesc">
                    <input type="hidden" name="idImagen" value="" id="idImagen">
                    <input type="hidden" name="categoria" value="" id="valueCategoria">
                    <input type="hidden" name="talles" value="" id="valueTalles">
                    <input type="file" name="prodImgName" id="prodPhoto" style="display: none;" />
                    <button type="submit" class="boton-select-producto">Guardar Cambios</button>
                    <!-- <div >
                        <a href="/admin/edit/selectProduct/1"><button type="button" class="boton-select-producto">Editar Producto</button></a>
                    </div> -->
                </form>
                <form action="/admin/edit/selectProduct/:idProduct?_method=delete" method="post" class="form-select-producto" id="deleteProdForm">
                    <button type="submit" class="boton-select-producto">Eliminar Producto</button>
                    <!-- <div >
                        <a href="/admin/delete/selectProduct/1"><button type="button" class="boton-select-producto">Eliminar Producto</button></a>
                    </div> -->
                </form>
                <div class="add-new-img">
                    <a href="/admin/moreImages/:idProducto" id="moreImages"><button type="button" class="boton-more-img">Cargar más imágenes</button></a>
                </div>
                <!-- <a href="/products/edit/" class="action-button edit">EDITAR PRODUCTO</a> -->
                <!-- <form action="/admin?_method=delete" method="POST" class="form-delete-producto">
                    <button type="submit" class="boton-delete-producto">Eliminar</button>
                </form> -->
            </div>
        </div>
    </div>

    <script src="/javascripts/adminProductEdit.js"></script>
</body>
</html>