<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %> 

<body>
    
    <%- include('partials/headerNavbar.ejs',{user: user, categorias:categorias, numProducts:numberProducts}) %> 

    <div class="user mb-5">
        <div class="user-avatar">
            <img class="img-avatar" id="userAvatar" src="/uploads/avatars/<%= user.avatar == 'undefined'? 'default_avatar.png':user.avatar %>" alt="">
            <input type="file" name="avatar" style="display: none;"/>  
        </div>
        <div class="info-user">
            <div class="box-name">
                <label for="name-prod" class="label-name-prod">Nombre de usuario</label>
                <input type="text" name="userName" value="<%= user.username %>" class="input-name-prod">
            </div>
            <div class="box-name">
                <label for="name-prod" class="label-name-prod">Email</label>
                <input type="email" name="email" value="<%= user.email %>" class="input-name-prod">
            </div>
            <div class="box-name">
                <label for="name-prod" class="label-name-prod">Contraseña</label>
                <input type="password" name="passUser" placeholder="Contraseña" class="input-name-prod">
            </div>
            <div class="box-name">
                <label for="name-prod" class="label-name-prod">Altura</label>
                <input type="text" name="altura" value="<%= user.altura %>" class="input-name-prod">
            </div>
            <div class="box-name">
                <label for="name-prod" class="label-name-prod">Peso</label>
                <input type="text" name="peso" value="<%= user.peso %>" class="input-name-prod">
            </div>
            <div>
            <form action="/user?_method=put" method="post" class="form-user">
                <input type="file" name="userAvatar" id="userPhoto" style="display: none;" />
                <div class="edit-user">
                    <button type="submit" class="boton-edit-producto">Actualizar</button>
                </div> 
            </form>
            <form action="/user?_method=delete" method="post" class="form-user">
                <div class="delete-user">
                    <button type="submit" class="boton-edit-producto">Eliminar</button>
                </div> 
            </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <%- include('partials/footer.ejs') %> 
    <script src="/javascripts/userEdit.js"></script>
</body>
</html>